<%- include('./partials/header.ejs'); -%>
<!-- type text not email to prevent fronted validation but server 
    <div> to show the error mssg 
    type="password" to show dots when typing
    <btn> inside form is an automatic submit event when clicked
-->

<form>
    <h2>Sign up</h2>
    <label for="email">Email:</label>
    <input type="text" name="email" required/>
    <div class="email error"></div>
    <label for="email">Password:</label>
    <input type="password" name="password" required/>
    <div class="password error"></div>
    <button>Signup</button>
</form>
<script>
    const form = document.querySelector('form')
    //divs where we'll display errors 
    const emailError = document.querySelector('.email.error')
    const passwordError = document.querySelector('.password.error')

    form.addEventListener('submit', async(e) => {
        e.preventDefault()  
        //any errors displayed should be removed when submit pressed
        emailError.textContent = '';
        passwordError.textContent = '';

        const email = form.email.value;
        const password = form.password.value;
        // console.log(email, password)
 
        try {
            //define POST functionality to deliver data grabbed by signup_post
            //body/data to be turned to JSON from js Obj before sending
            const result = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ email, password}),
                headers: {'Content-Type': 'application/json'}
            })
            //get data back as js obj from the response obj(async)
            const data = await result.json();//check authController(signup_post)for data returned
            console.log(data, result) //data either userid or errors
            if(data.errors){ 
                //display errors in div
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            //if signup success...redirect to homepage
            if(data.user){//the user id
                location.assign('/')
            }
            
        } catch (err) {
            console.log(err)
        } 
    })
</script>

<%- include('./partials/footer.ejs'); -%>
